/* MessagesComponent's private CSS styles */
h2 {
    color: rgb(30, 16, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: blue;
    font-family: Cambria, Georgia;
  }
  
  button.clear {
    font-family: Arial;
    background-color: rgb(179, 127, 59);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    color: white;
    font-weight: bolder;
  }
  button:hover {
    background-color: chocolate;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  button.clear {
    color: #888;
    margin-bottom: 12px;
  }