<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <b>{{joke.setup}}</b>
      <mat-slide-toggle class="primary" [checked]="joke.hide" (change)="joke.toggle()">Show Content!</mat-slide-toggle>
      <button mat-mini-fab color="warn" (click)="onJokeDeleted(joke)">Delete</button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [hidden]="!joke.hide">
      <h5>{{joke.punchline}}</h5>
      <p>
        {{joke.storyline}}
      </p>
    </div>
  </mat-card-content>
</mat-card>
