<mat-sidenav-container class="example-sidenav-fab-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <mat-icon>add</mat-icon>
    </button>
    <div class="example-scrolling-content">
      <nav>
        <hr>
        <button mat-raised-button color="primary" routerLink="/dashboard">Dashboard</button>
        <hr>
        <button mat-raised-button color="primary" routerLink="/heroes">Heroes</button>
      </nav>
    </div>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="example-scrolling-content">

    <mat-toolbar color="primary">
      <h1>{{applicationTitle}}</h1>
      <span class="example-spacer"></span>
      <router-outlet></router-outlet>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon> Menu
      </button>
    </mat-toolbar>

    <mat-menu #menu="matMenu">
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Contact </button>
    </mat-menu>



    <mat-card>
      <app-messages></app-messages>
    </mat-card>


    <div>
      <footer>
        <mat-toolbar color="primary" class="md-scroll-shrink" item-height="50Px">
          <div layout="row" layout-align="center center" flex>
            &copy; 2017
          </div>
        </mat-toolbar>
      </footer>
    </div>

    <!-- 
      Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license
      -->



  </div>
</mat-sidenav-container>
