<mat-toolbar color="primary">
  <h1>{{title}}</h1>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon> Menu
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Contact </button>
</mat-menu>


<h2>{{hero.name}} details!</h2>

<div>
  <mat-form-field>
    <input matInput="text" [(ngModel)]="hero.id" disabled  placeholder="Hero Id">
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <input matInput="text" [(ngModel)]="hero.name" placeholder="Hero Name">
  </mat-form-field>
</div>

<br>
<div>
  <footer>
    <mat-toolbar color="primary">
      <span>Footer Information</span>
    </mat-toolbar>
  </footer>
</div>
