<mat-toolbar color="primary">
  <h1>{{title}}</h1>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon> Menu
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item> Settings </button>
  <button mat-menu-item> Contact </button>
</mat-menu>
<br>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>List of Heroes</h2>
    </mat-card-title>
  </mat-card-header>

  <table cellpadding="0" cellspacing="1">
    <tr>
      <td>
        <ul class="heroes">
          <li *ngFor="let hero of heroesList" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            <!-- each hero goes here -->
            <span class="badge">{{hero.id}}</span> {{hero.name}}
          </li>
        </ul>
        <app-messages></app-messages>
      </td>
      <td>&nbsp;</td>
      <td valign="top">
        <hero-detail [hero]="selectedHero"></hero-detail>
      </td>
    </tr>
  </table>

</mat-card>



<br>
<div>
  <footer>
    <mat-toolbar color="primary" class="md-scroll-shrink">
      <div layout="row" layout-align="center center" flex>
        &copy; 2017
      </div>
    </mat-toolbar>
  </footer>
</div>
